<h1> Index: Here are all the contacts </h1>

<% @contacts.each do |contact| %>
<h3> <a href="/contacts/<%=contact.id%>"> First name: <%= contact.first %></a> </h3>
<h3> Last Name: <%= contact.last %> </h3>
<h3> Relationship: <%= contact.relationship %> </h3>
<h3> Phone #: <%= contact.full_number %> </h3>
<h3> E-mail :<%= contact.email %> </h3>
<br>
<br>
<% end%> 
